<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of People</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <h2>List of People</h2>
    <div class="person-list">
        {% for person in people %}
        <p>{{ person }}</p>
        {% endfor %}
    </div>
    <a href="{% url 'add' %}">Add Another Person</a>
</body>
</html>
